@page "{handler?}"
@model MyApp.Namespace.TestModel
@{
}


Test Page

//TODO - need to read about model binding nested properties

VAL = @Model.val

                @foreach(var intv in @Model.Ints){
            @intv @:ints here


        }

        ints above


<form method="POST" asp-page-handler="Test" >

    <input type="submit" text="GO">
    <input type="submit" asp-page-handler="Custom">
    </form>
