@page "{handler?}"
@model MyApp.Namespace.TestModel
@{
}


Test Page

//TODO - need to read about model binding nested properties



VAL = @Model.val

<form method="POST" asp-page-handler="Test" >

    <input type="submit" text="GO">


    </form>
